body{
  margin: 15;
  width: 1140px;
  background: #F0F3FF;
}



/*----------     Navbar     ----------*/



.navbar {
  position: fixed;
  width: 100%; 
  height: 110px; 
  left: 0;
  top: 0; 
  z-index: 9999; 
  
  background-color: #0F143D; 
  border-bottom: 1.5px solid #8B91C3;

}

.navbar-container{
  top: 0px;
}




.menu-navigation{
  background-color: #0F143D;
}

.menu-navigation a {
  top: -12px;
  left: 10px;


  color: #8B91C3;
  padding: 14px 160px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: #8B91C3;
}






ul #primary-nav{
  left: 30px;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.menu{
  position: absolute;
  height: 20px;
  width: 20px;
  left: 35px;
  top: 26px;
}

.logo{
  position: absolute;
  width: 64px;
  height: 64px;
  left: 25px;
  top: 17px;
}

.where-are{
  position: absolute;
  width: 220px;
  height: 64px;
  left: 156px;
  top: 33px;

  background: #8B91C3;
  border-radius: 15px;
  border: 2px solid #535EB8;
}

.where-are[type=text]{

  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #0F143D;
}

.btn-back-and-forth{
  position: absolute;
  width: 54px;
  height: 54px;
  left: 419px;
  top: 39px;
}

.when-they{
  position: absolute;
  width: 220px;
  height: 64px;
  left: 490px;
  top: 33px;

  background: #8B91C3;
  border-radius: 15px;
  border: 2px solid #535EB8;
}

.when-they[type=text]{
  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #0F143D;
}

.where-are-they-going{
  position: absolute;
  width: 220px;
  height: 64px;
  left: 493px;
  top: 33px;

  background: #8B91C3;
  border-radius: 5px;
}

.when-they-go{
  position: absolute;
  width: 190px;
  height: 64px;
  left: 757px;
  top: 33px;

  background: #8B91C3;
  border-radius: 15px;
  border: 2px solid #535EB8;
}

.when-they-go[type=date]{
  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #0F143D;
}

.calendar-image{
  display: none;
}

.btTxt-search{
  position: absolute;
  width: 58px;
  height: 58px;
  left: 992px;
  top: 33px;
}

.btTxt-nav-search{
  position: absolute;
  height: 20px;
  width: 20px;
  left: 260px;
  top: 42px;
}

.language{
  position: absolute;
  width: 60px;
  height: 20px;
  left: 1085px;
  top: 52px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.btTxt-user{
  position: absolute;
  width: 64px;
  height: 64px;
  left: 1192px;
  top: 33px;
}



/*----------     Pessenger     ----------*/



.pessenger{
  position: absolute;
  width: 1130px;
  height: 325px;
  left: 74px;
  top: 180px;

  display: flex;
}

.pessenger-block{
  position: absolute;
  width: 1130px;
  height: 295px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border-radius: 30px;
}

.pessenger-name{
  position: absolute;
  width: 247.46px;
  height: 24px;
  left: 60px;
  top: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.pessenger-vector{
  position: absolute;
  width: 1050px;
  height: 0px;
  left: 30px;
  top: 78px;

  border: 2px solid #8B91C3;
}


/*****          Lastname          *****/


.lastname-main{
  position: absolute;
  width: 320px;
  height: 116px;
  left: 30px;
  top: 90px;
}

.lastname-name{
  position: absolute;
  width: 131px;
  height: 34px;
  left: 20px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.lastname-block{
  position: absolute;
  width: 280px;
  height: 62px;
  left: 18px;
  top: 75px;

  background-color: #8B91C3;
  border-radius: 30px;
  border: 2px solid #535EB8;
}

.lastname-block[type=text]{
  left: 5px;
  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #0F143D;
}


/*****          Name          *****/


.name-main{
  position: absolute;
  width: 361px;
  height: 116px;
  left: 410px;
  top: 90px;
}

.name-name{
  position: absolute;
  width: 131px;
  height: 34px;
  left: 20px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.name-block{
  position: absolute;
  width: 280px;
  height: 62px;
  left: 18px;
  top: 75px;

  background-color: #8B91C3;
  border-radius: 30px;
  border: 2px solid #535EB8;
}

.name-block[type=text]{
  left: 5px;
  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  

  text-decoration-line: #0F143D;
}


/*****          Date          *****/


.date-main{
  position: absolute;
  width: 361px;
  height: 116px;
  left: 780px;
  top: 90px;
}

.date-name{
  position: absolute;
  width: 240px;
  height: 34px;
  left: 20px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.date-block{
  position: absolute;
  width: 280px;
  height: 62px;
  left: 18px;
  top: 75px;

  background-color: #8B91C3;
  border-radius: 30px;
  border: 2px solid #535EB8;
}

.date-block[type=date]{
  left: 5px;
  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  
  color: #0F143D;
}

.pessenger-warning{
  position: absolute;
  width: 400px;
  height: 34px;
  left: 750px;
  top: 220px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}



/*----------     Train     ----------*/



.train{
  position: absolute;
  width: 1130px;
  height: 725px;
  left: 74px;
  top: 515px;

  display: flex;
}

.train-block{
  position: absolute;
  width: 1130px;
  height: 745px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border-radius: 30px;
}

.train-name{
  position: absolute;
  width: 247.46px;
  height: 24px;
  left: 60px;
  top: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.train-vector{
  position: absolute;
  width: 1060px;
  height: 0px;
  left: 30px;
  top: 78px;

  border: 2px solid #8B91C3;
}

.left-car{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 40px;
  top: 245px;
}

.left-arrow{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  
  border-radius: 25px;
  transform: rotate(180deg);
}

.right-car{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1040px;
  top: 245px;
}

.right-arrow{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  
  border-radius: 25px;
}

/*****          Car          *****/


.car{
  position: absolute;
  width: 875px;
  height: 215px;
  left: 125px;
  top: 160px;

  background-color: #8B91C3;
  border-radius: 30px;
}

.car-text{
  position: absolute;
  width: 247.46px;
  height: 24px;
  left: 490px;
  top: 85px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.wc-first{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 16px;
  top: 45px;

  background: #0F143D;
  border: 1px solid #8B91C3;
  border-radius: 20px;
}

.wc-text-first{
  position: absolute;
  width: 31px;
  height: 22px;
  left: 1px;
  top: -12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;


}

.personal{
  position: absolute;
  width: 36px;
  height: 36px;
  left: 58px;
  top: 45px;

  border-radius: 20px;
}


/*****          Compartment-1          *****/


.compartment-1{
  position: absolute;
  left: 0px;
  top: 0px;
}

.place-2{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 100px;
  top: 29px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-2-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 11px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-1{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 100px;
  top: 65px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-1-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 11px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-4{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 136px;
  top: 29px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-4-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 11px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-3{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 136px;
  top: 65px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-3-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 11px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Compartment-2          *****/


.compartment-2{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 180px;
  top: 29px;
}

.place-6{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-6-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 11px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-5{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-5-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 11px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-8{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-8-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 11px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-7{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-7-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 11px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Compartment-3          *****/


.compartment-3{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 260px;
  top: 29px;
}

.place-10{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-10-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-9{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-9-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 11px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-12{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 37px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-12-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 3px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-11{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-11-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5.5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Compartment-4          *****/


.compartment-4{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 340px;
  top: 29px;
}

.place-14{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-14-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-13{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-13-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-16{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-16-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-15{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-15-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Compartment-5          *****/


.compartment-5{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 420px;
  top: 29px;
}

.place-18{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-18-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-17{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-17-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-20{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-20-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-19{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-19-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Compartment-6          *****/


.compartment-6{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 500px;
  top: 29px;
}

.place-22{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-22-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-21{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-21-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 6px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-24{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-24-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-23{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-23-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Compartment-7          *****/


.compartment-7{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 580px;
  top: 29px;
}

.place-26{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-26-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-25{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-25-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-28{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 37px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-28-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-27{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-27-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Compartment-8          *****/


.compartment-8{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 660px;
  top: 29px;
}

.place-30{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 0px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-30-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-29{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-29-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 6px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-32{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 37px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-32-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-31{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-31-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Compartment-9          *****/


.compartment-9{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 740px;
  top: 29px;
}

.place-34{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-34-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-33{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-33-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 6px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-36{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-36-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-35{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 36px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-35-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Side seats 1          *****/


.side-seats-1{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 740px;
  top: 150px;
}

.place-38{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-38-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-37{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-37-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Side seats 2          *****/


.side-seats-2{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 660px;
  top: 150px;
}

.place-40{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 1px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-40-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-39{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-39-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Side seats 3          *****/


.side-seats-3{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 580px;
  top: 150px;
}

.place-42{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 1px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-42-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-41{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-41-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Side seats 4          *****/


.side-seats-4{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 500px;
  top: 150px;
}

.place-44{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 1px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-44-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-43{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-43-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Side seats 5          *****/


.side-seats-5{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 420px;
  top: 150px;
}

.place-46{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 1px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-46-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-45{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-45-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Side seats 6          *****/


.side-seats-6{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 340px;
  top: 150px;
}

.place-48{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 1px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-48-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-47{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-47-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Side seats 7          *****/


.side-seats-7{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 260px;
  top: 150px;
}

.place-50{
  box-sizing: border-box;

  position: absolute;
  width: 33px;
  height: 33px;
  left: 1px;
  top: 1px;

  background: #8B91C3;
  border: 1px solid #0F143D;
}

.place-50-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 4px;
  top: -20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0F143D;
}

.place-49{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-49-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Side seats 8          *****/


.side-seats-8{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 180px;
  top: 150px;
}

.place-52{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-52-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-51{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-51-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Side seats 9          *****/


.side-seats-9{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 100px;
  top: 150px;
}

.place-54{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-54-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.place-53{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 36px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
}

.place-53-text{
  position: absolute;
  width: 10.33px;
  height: 24px;
  left: 5px;
  top: -19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


.wc-second{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 820px;
  top: 45px;

  background: #0F143D;
  border: 1px solid #8B91C3;
  border-radius: 20px;
}

.wc-text-second{
  position: absolute;
  width: 31px;
  height: 22px;
  left: 1px;
  top: -12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;


}


/*****          About place          *****/


.free-space{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 75px;
  top: 420px;
}

.free-space-block{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #8B91C3;
  border: 1px solid #0F143D;
  border-radius: 10px;
}

.free-space-text{
  position: absolute;
  width: 183px;
  height: 34px;
  left: 50px;
  top: -28px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.occupied-seat{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 330px;
  top: 420px;
}

.occupied-seat-block{
  box-sizing: border-box;

  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border: 1px solid #8B91C3;
  border-radius: 10px;
}

.occupied-seat-text{
  position: absolute;
  width: 183px;
  height: 34px;
  left: 50px;
  top: -28px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.even-seats{
  position: absolute;
  width: 360px;
  height: 30px;
  left: 760px;
  top: 400px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.odd-places{
  position: absolute;
  width: 383px;
  height: 30px;
  left: 740px;
  top: 445px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Pessenger active blocks          *****/


.pessenger-check{
  position: absolute;
  width: 129px;
  height: 178px;
  left: 75px;
  top: 520px;
}

.pessenger-check-text{
  position: absolute;
  width: 240px;
  height: 34px;
  left: 0px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.pessenger-checkbox-form{
  position: absolute;
  width: 129px;
  height: 178px;
  left: -20px;
  top: 55px;
  padding: 20px;

  color: #8B91C3;
}

.pessenger-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.pessenger-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #8B91C3;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.pessenger-container:hover input ~ .checkmark {
  background-color: #8B91C3;
}

/* When the radio button is checked, add a blue background */
.pessenger-container input:checked ~ .checkmark {
  background-color: #8B91C3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.pessenger-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.pessenger-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #0F143D;
}


/*****          Additional active blocks          *****/


.additional-check{
  position: absolute;
  width: 129px;
  height: 178px;
  left: 260px;
  top: 520px;
}

.additional-check-text{
  position: absolute;
  width: 240px;
  height: 34px;
  left: 0px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.additional-checkbox-form{
  position: absolute;
  width: 129px;
  height: 178px;
  left: -20px;
  top: 55px;
  padding: 20px;

  color: #8B91C3;
}

.additional-full{
  top: 30px;
}

.additional-full-text{
  position: absolute;
  width: 183px;
  height: 34px;
  left: 25px;
  top: 60px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

 /* Customize the label (the container) */
.additional-container{
  display: block;
  position: relative;
  width: 110px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.additional-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #8B91C3;

}

/* On mouse-over, add a grey background color */
.additional-container:hover input ~ .checkmark-check {
  background-color: #535EB8;
}

/* When the checkbox is checked, add a blue background */
.additional-container input:checked ~ .checkmark-check {
  background-color: #8B91C3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.additional-container input:checked ~ .checkmark-check:after {
  display: block;
}

/* Style the checkmark/indicator */
.additional-container   .checkmark-check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #0F143D;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 


/*****          More active blocks          *****/


.more-check{
  position: absolute;
  width: 129px;
  height: 178px;
  left: 530px;
  top: 520px;
}

.more-check-text{
  position: absolute;
  width: 240px;
  height: 34px;
  left: 0px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.more-checkbox-form{
  position: absolute;
  width: 129px;
  height: 178px;
  left: -20px;
  top: 55px;
  padding: 20px;

  color: #8B91C3;
}

 /* Customize the label (the container) */
 .more-container{
  display: block;
  position: relative;
  width: 155px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.more-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.more-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #8B91C3;
}

/* On mouse-over, add a grey background color */
.more-container:hover input ~ .more-checkmark {
  background-color: #535EB8;
}

/* When the checkbox is checked, add a blue background */
.more-container input:checked ~ .more-checkmark {
  background-color: #8B91C3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.more-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.more-container input:checked ~ .more-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.more-container   .more-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #0F143D;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 


/*****          Price          *****/


.result{
  position: absolute;
  width: 129px;
  height: 178px;
  left: 800px;
  top: 520px;
}

.result-text{
  position: absolute;
  width: 129px;
  height: 34px;
  left: 0px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.price-text{
  position: absolute;
  width: 180px;
  height: 34px;
  left: 0px;
  top: 50px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.price{
  padding-left: 10px;
  padding-right: 10px;
}

.result-explanation{
  position: absolute;
  width: 220px;
  height: 34px;
  left: -5px;
  top: 105px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}



/*----------     Contacts     ----------*/



.contacts{
  position: absolute;
  width: 1130px;
  height: 500px;
  left: 74px;
  top: 1300px;

  display: flex;
}

.contacts-block{
  position: absolute;
  width: 1130px;
  height: 330px;
  left: 0px;
  top: 0px;

  background: #0F143D;
  border-radius: 30px;
}

.contacts-name{
  position: absolute;
  width: 247.46px;
  height: 24px;
  left: 60px;
  top: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.contacts-vector{
  position: absolute;
  width: 1060px;
  height: 0px;
  left: 30px;
  top: 78px;

  border: 2px solid #8B91C3;
}


/*****          Email          *****/


.contacts-email{
  position: absolute;
  width: 500px;
  height: 200px;
  left: 40px;
  top: 120px;

  display: flex;
}

.contacts-email-picture{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 0px;

  display: flex;
}

.contacts-email-text{
  position: absolute;
  width: 300px;
  height: 34px;
  left: 80px;
  top: -14px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.contacts-email-main{
  position: absolute;
  width: 361px;
  height: 116px;
  left: 10px;
  top: 10px;
}

.contacts-email-block{
  position: absolute;
  width: 350px;
  height: 62px;
  left: -40px;
  top: 75px;

  background-color: #8B91C3;
  border-radius: 30px;
  border: 2px solid #535EB8;
}

.contacts-email-block[type=email]{
  left: 5px;
  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  

  text-decoration-line: #0F143D;
}


/*****          Phone          *****/


.phone{
  position: absolute;
  width: 500px;
  height: 200px;
  left: 580px;
  top: 120px;

  display: flex;
}

.phone-picture{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 0px;

  display: flex;
}

.phone-text{
  position: absolute;
  width: 400px;
  height: 34px;
  left: 30px;
  top: -14px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}

.phone-main{
  position: absolute;
  width: 361px;
  height: 116px;
  left: 10px;
  top: 10px;
}

.phone-block{
  position: absolute;
  width: 350px;
  height: 62px;
  left: 0px;
  top: 75px;

  background-color: #8B91C3;
  border-radius: 30px;
  border: 2px solid #535EB8;
}

.phone-block[type=tel]{
  left: 5px;
  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  

  text-decoration-line: #0F143D;
}

.contacts-warning{
  position: absolute;
  width: 400px;
  height: 34px;
  left: 750px;
  top: 260px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #8B91C3;
}


/*****          Pages navigation          *****/


.left-page{
  position: absolute;
  width: 253px;
  height: 62px;
  left: 83px;
  top: 1708px;

  background: #8B91C3;
  border-radius: 30px;
  border: 2px solid #4754BB;
}

.left-page:hover {
  box-shadow: 0 8px 12px 0 #4754BB;
}

.left-page-text{
  position: absolute;
  width: 96px;
  height: 39px;
  left: 85px;
  top: -22px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #0F143D;
}

.right-page{
  position: absolute;
  width: 253px;
  height: 62px;
  left: 930px;
  top: 1708px;
  
  background: #8B91C3;
  border-radius: 30px;
  border: 2px solid #4754BB;
}

.right-page:hover {
  box-shadow: 0 8px 12px 0 #4754BB;
}

.right-page-text{
  position: absolute;
  width: 96px;
  height: 39px;
  left: 60px;
  top: -22px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #0F143D;
}



/*----------     Footer     ----------*/



.footer{
  position: absolute;
  width: 1140px;
  height: 700px;
  left: 0px;
  top: 1850px;
}


.footer-container{
  position: absolute;
  width: 1280px;
  height: 700px;
  left: 0px;
  top: 0px;
  
  background: #0F143D;
  }
  
  
  /*   section 1   */
  
  
.locomotive-image {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 60px;
  top: 25px;
}
  
.subway-image {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 600px;
  top: 25px;
}
  
.twitter-image {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 800px;
  top: 40px;
}
  
.youtube-image {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 880px;
  top: 40px;
}
  
.facebook-image {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 960px;
  top: 40px;
}
  
.linkedin-image {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1040px;
  top: 40px;
}
  
.viber-image {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1120px;
  top: 40px;
}
  
.telegram-image {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1200px;
  top: 40px;
}
  
.number-of-phone {
  position: absolute;
  width: 173px;
  height: 36px;
  left: 1080px;
  top: 130px;
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
    
  color: #8B91C3;
}
  
.years-of-works {
  position: absolute;
  width: 348px;
  height: 31px;
  left: 58px;
  top: 200px;
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
    
  color: #8B91C3;
}
  
.question {
  position: absolute;
  width: 331px;
  height: 36px;
  left: 562px;
  top: 200px;
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
    
  color: #8B91C3;
}
  
.email {
  position: absolute;
  width: 200px;
  height: 36px;
  left: 1030px;
  top: 200px;
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
    
  color: #8B91C3;
}
  
.footer-border-1{
  position: absolute;
  width: 1160px;
  height: 0px;
  left: 58px;
  top: 260px;
    
  border: 3px solid #8B91C3;
}
  
  
  /*   section 2   */
  
  
.ukr-railway-image {
  position: absolute;
  width: 176px;
  height: 68px;
  left: 60px;
  top: 300px;
}
  
.visa-image {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 420px;
  top: 280px;  
}
  
.google-play-image {
  position: absolute;
  width: 252px;
  height: 72px;
  left: 700px;
  top: 300px;
  
  border-radius: 20px;
}
  
.app-store-image {
  position: absolute;
  width: 252px;
  height: 72px;
  left: 980px;
  top: 300px;
  
  border-radius: 20px;
}
  
.footer-border-2{
  position: absolute;
  width: 1160px;
  height: 0px;
  left: 58px;
  top: 400px;
    
  border: 3px solid #8B91C3;
}
  
  
  /*   section 3   */
  
  
.final-text{
  position: absolute;
  width: 1140px;
  height: 186px;
  left: 58px;
  top: 450px;
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
    
  color: #8B91C3;
}

.author{
  position: absolute;
  width: 1140px;
  height: 66px;
  left: 58px;
  top: 590px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  
  color: #8B91C3;
}